In [2]:
import pandas as pd
import os
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter

In [3]:
file_path = '../datasets/uatTypeTS.xlsx' 
uatTypeTS = pd.read_excel(file_path)

In [4]:
#Посмотрим на количество данных в Excel файле
print("Размер таблицы (строки, столбцы):", uatTypeTS.shape)

Размер таблицы (строки, столбцы): (34, 14)

In [5]:
print("Названия колонок:", uatTypeTS.columns.tolist())

Названия колонок: ['Ref', 'IsFolder', 'DeletionMark', 'Parent', 'Code', 'Description', 'ВидТС', 'ТипТС', 'Комментарий', 'TTID', 'МаксМест', 'МинМест', 'TTID2', 'TTIDТСПоУмолчанию']

In [6]:
#Посмотрим на значения данных в uatTypeTS
uatTypeTS.head(20)

,Ref,IsFolder,DeletionMark,Parent,Code,Description,ВидТС,ТипТС,Комментарий,TTID,МаксМест,МинМест,TTID2,TTIDТСПоУмолчанию
0,d4ae9ead-0584-11e7-80c4-00155ddeca07,False,False,00000000-0000-0000-0000-000000000000,635,53+1 ЮТОНГ Автобус,Автобус,NaN,NaN,0,53,0,0,NaN
1,c6a37c1c-0584-11e7-80c4-00155ddeca07,False,False,00000000-0000-0000-0000-000000000000,634,51+1 ЮТОНГ Автобус,Автобус,NaN,NaN,0,51,0,0,NaN
2,bff551cd-3d8c-11e8-80cd-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,637,49+1 ЮТОНГ Автобус,Автобус,NaN,NaN,0,49,0,0,NaN
3,d68b62a7-bef6-11e3-ae97-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,621,16 Мерседес Спринтер (багаж),МикроАвтобус,NaN,NaN,3,16,0,157,878.0
4,3692b1dc-bc95-11e3-b8a1-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,613,Мерседес Е-213,Легковой,NaN,NaN,6,4,0,169,1140.0
5,e709f913-c584-11e5-84ea-002590f18851,False,False,00000000-0000-0000-0000-000000000000,630,Шкода Октавия,Легковой,NaN,NaN,0,4,0,0,NaN
6,899c377b-bc93-11e3-b8a1-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,607,59+0/1 Европа Автобус,Автобус,NaN,NaN,7,59,0,177,1294.0
7,e575f511-bc94-11e3-b8a1-0025906734d9,False,True,00000000-0000-0000-0000-000000000000,610,Микроавтобус 20,МикроАвтобус,NaN,NaN,3,20,0,156,875.0
8,d68b62a9-bef6-11e3-ae97-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,622,Минивэны 07,Минивэн,NaN,NaN,13,7,0,149,842.0
9,da6fd5de-bc94-11e3-b8a1-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,609,19 Мерседес Спринтер,МикроАвтобус,NaN,NaN,3,19,0,164,1073.0
10,c3fdd0cb-bef6-11e3-ae97-0025906734d9,False,True,00000000-0000-0000-0000-000000000000,618,Азия Автобус 49+1,Автобус,NaN,NaN,7,49,0,155,849.0
11,e709f90b-c584-11e5-84ea-002590f18851,False,False,00000000-0000-0000-0000-000000000000,627,49+1 Европа Автобус,Автобус,NaN,NaN,0,49,0,0,NaN
12,cb9b63d7-bef6-11e3-ae97-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,619,51+1 Европа Автобус,Автобус,NaN,NaN,7,51,0,176,1324.0
13,f7423925-180e-11e9-80d3-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,639,57+1 ЮТОНГ Автобус,Автобус,NaN,NaN,0,57,0,0,NaN
14,71e730e3-bcd4-11e3-b8a1-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,616,Грузовой,ГрузовойФургон,NaN,NaN,16,2,0,172,1196.0
15,4f185112-c925-11e3-98d9-0025906734d9,False,True,00000000-0000-0000-0000-000000000000,623,Азия Автобус 43+1,Автобус,NaN,NaN,7,43,0,153,844.0
16,c83cb855-e75f-11ee-aabd-00155dded61a,False,False,00000000-0000-0000-0000-000000000000,689,Кинг Лонг (51+1),Автобус,NaN,NaN,0,51,0,0,NaN
17,cb9b63d9-bef6-11e3-ae97-0025906734d9,False,True,00000000-0000-0000-0000-000000000000,620,Эконом Легковая,Легковой,NaN,NaN,5,4,0,145,869.0
18,03e3dcb1-bc95-11e3-b8a1-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,611,19 VIP Мерседес Спринтер,МикроАвтобус,NaN,NaN,3,19,0,164,1073.0
19,2bcad513-bc95-11e3-b8a1-0025906734d9,False,True,00000000-0000-0000-0000-000000000000,612,Бизнес Легковая,Легковой,NaN,NaN,6,4,0,146,855.0

In [8]:
#Оставим в uatTypeTS нужные колонки для работы
columns_to_keep = [
    'Ref', 'IsFolder', 'DeletionMark', 'Parent', 'Code', 'Description', 
    'МаксМест', 'TTID2', 'TTIDТСПоУмолчанию'
]

In [9]:
# Проверка наличия колонок
missing_columns = [col for col in columns_to_keep if col not in uatTypeTS.columns]

if missing_columns:
    print("В датафрейме отсутствуют следующие колонки:")
    for col in missing_columns:
        print(" -", col)

# Фильтрация по доступным колонкам
available_columns = [col for col in columns_to_keep if col in uatTypeTS.columns]
uatTypeTS_filtered = uatTypeTS[available_columns]

# Проверка, что в bbOrders_filtered остались только нужные колонки
if set(uatTypeTS_filtered.columns) == set(columns_to_keep):
    print("В датафрейме остались только нужные колонки.")
else:
    extra_columns = set(uatTypeTS_filtered.columns) - set(columns_to_keep)
    if extra_columns:
        print("Остались лишние колонки в отфильтрованном датафрейме:")
        for col in extra_columns:
            print(" -", col)

# Вывод результата
print("\nРазмер отфильтрованного датафрейма:", uatTypeTS_filtered.shape)
uatTypeTS_filtered.head()

В датафрейме остались только нужные колонки.

Размер отфильтрованного датафрейма: (34, 9)

,Ref,IsFolder,DeletionMark,Parent,Code,Description,МаксМест,TTID2,TTIDТСПоУмолчанию
0,d4ae9ead-0584-11e7-80c4-00155ddeca07,False,False,00000000-0000-0000-0000-000000000000,635,53+1 ЮТОНГ Автобус,53,0,NaN
1,c6a37c1c-0584-11e7-80c4-00155ddeca07,False,False,00000000-0000-0000-0000-000000000000,634,51+1 ЮТОНГ Автобус,51,0,NaN
2,bff551cd-3d8c-11e8-80cd-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,637,49+1 ЮТОНГ Автобус,49,0,NaN
3,d68b62a7-bef6-11e3-ae97-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,621,16 Мерседес Спринтер (багаж),16,157,878.0
4,3692b1dc-bc95-11e3-b8a1-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,613,Мерседес Е-213,4,169,1140.0

In [10]:
# Замена всех NaN
uatTypeTS_filtered = uatTypeTS_filtered.fillna("Not Information")
uatTypeTS_filtered.head()

,Ref,IsFolder,DeletionMark,Parent,Code,Description,МаксМест,TTID2,TTIDТСПоУмолчанию
0,d4ae9ead-0584-11e7-80c4-00155ddeca07,False,False,00000000-0000-0000-0000-000000000000,635,53+1 ЮТОНГ Автобус,53,0,Not Information
1,c6a37c1c-0584-11e7-80c4-00155ddeca07,False,False,00000000-0000-0000-0000-000000000000,634,51+1 ЮТОНГ Автобус,51,0,Not Information
2,bff551cd-3d8c-11e8-80cd-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,637,49+1 ЮТОНГ Автобус,49,0,Not Information
3,d68b62a7-bef6-11e3-ae97-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,621,16 Мерседес Спринтер (багаж),16,157,878.0
4,3692b1dc-bc95-11e3-b8a1-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,613,Мерседес Е-213,4,169,1140.0

In [11]:
#Исходя из того, что в таблице присутствует достаточное количество значений "00000000-0000-0000-0000-000000000000", заменим это значение на Not information
uatTypeTS_filtered = uatTypeTS_filtered.replace('00000000-0000-0000-0000-000000000000', 'Not Information')
uatTypeTS_filtered.head()

,Ref,IsFolder,DeletionMark,Parent,Code,Description,МаксМест,TTID2,TTIDТСПоУмолчанию
0,d4ae9ead-0584-11e7-80c4-00155ddeca07,False,False,Not Information,635,53+1 ЮТОНГ Автобус,53,0,Not Information
1,c6a37c1c-0584-11e7-80c4-00155ddeca07,False,False,Not Information,634,51+1 ЮТОНГ Автобус,51,0,Not Information
2,bff551cd-3d8c-11e8-80cd-00155ddeca01,False,False,Not Information,637,49+1 ЮТОНГ Автобус,49,0,Not Information
3,d68b62a7-bef6-11e3-ae97-0025906734d9,False,False,Not Information,621,16 Мерседес Спринтер (багаж),16,157,878.0
4,3692b1dc-bc95-11e3-b8a1-0025906734d9,False,False,Not Information,613,Мерседес Е-213,4,169,1140.0

In [12]:
#Посмотрим на уникальные значения каждой колонки
for col in uatTypeTS_filtered.columns:
    print(f"\nУникальные значения в колонке '{col}': ({uatTypeTS_filtered[col].nunique()} всего)")
    print(uatTypeTS_filtered[col].value_counts().head(10))

Уникальные значения в колонке 'Ref': (34 всего)
d4ae9ead-0584-11e7-80c4-00155ddeca07    1
46efbb10-91ef-47f5-a442-04b501f6cbe3    1
2bcad513-bc95-11e3-b8a1-0025906734d9    1
fa36ae37-bcd4-11e3-b8a1-0025906734d9    1
34a7bc5e-bcd4-11e3-b8a1-0025906734d9    1
8034ef03-c967-11e3-98d9-0025906734d9    1
32d9ae08-d792-11ee-aabd-00155dded61a    1
9a5bc046-e827-11ee-aabd-00155dded61a    1
6c984ed4-ea88-11ee-aabd-00155dded61a    1
c6a37c1c-0584-11e7-80c4-00155ddeca07    1
Name: Ref, dtype: int64

Уникальные значения в колонке 'IsFolder': (1 всего)
False    34
Name: IsFolder, dtype: int64

Уникальные значения в колонке 'DeletionMark': (2 всего)
False    26
True      8
Name: DeletionMark, dtype: int64

Уникальные значения в колонке 'Parent': (1 всего)
Not Information    34
Name: Parent, dtype: int64

Уникальные значения в колонке 'Code': (34 всего)
635    1
602    1
612    1
617    1
615    1
624    1
686    1
692    1
695    1
634    1
Name: Code, dtype: int64

Уникальные значения в колонке 'Description': (34 всего)
53+1 ЮТОНГ Автобус            1
  ДопУслуги                   1
Бизнес Легковая               1
Представительский Легковой    1
35 Автобус вместо микрика     1
Азия Автобус 47+1             1
Хайгер (51+1)                 1
Мерседес Туризмо (51+1)       1
Кинг Лонг (53+1)              1
51+1 ЮТОНГ Автобус            1
Name: Description, dtype: int64

Уникальные значения в колонке 'МаксМест': (18 всего)
4     6
51    5
49    4
53    2
7     2
19    2
43    2
35    1
41    1
55    1
Name: МаксМест, dtype: int64

Уникальные значения в колонке 'TTID2': (18 всего)
0      15
164     2
146     2
153     1
178     1
159     1
154     1
152     1
145     1
172     1
Name: TTID2, dtype: int64

Уникальные значения в колонке 'TTIDТСПоУмолчанию': (17 всего)
Not Information    16
855.0               2
1073.0              2
1196.0              1
1295.0              1
846.0               1
1014.0              1
869.0               1
844.0               1
1324.0              1
Name: TTIDТСПоУмолчанию, dtype: int64

In [13]:
# Убедимся, что папка существует
output_dir = '../filtered_datasets'
os.makedirs(output_dir, exist_ok=True)

# Путь к файлу
output_path = os.path.join(output_dir, 'uatTypeTS_filtered.xlsx')

# Сохраняем в Excel
uatTypeTS_filtered.to_excel(output_path, index=False)

# Открываем файл и настраиваем ширину колонок, из-за влияния на отображение данных
wb = load_workbook(output_path)
ws = wb.active

for i, column_cells in enumerate(ws.columns, 1):
    max_length = max(len(str(cell.value)) if cell.value is not None else 0 for cell in column_cells)
    adjusted_width = max_length + 2
    ws.column_dimensions[get_column_letter(i)].width = adjusted_width

# Сохраняем изменения
wb.save(output_path)
print(f"Файл сохранен: {output_path}")

Файл сохранен: ../filtered_datasets\uatTypeTS_filtered.xlsx